body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u484_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:542px;
}
#u484 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:542px;
}
#u485 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:263px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u486 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:32px;
  width:100px;
  height:86px;
  overflow:hidden;
}
#u486_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:86px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u486_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u487 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
