body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u488_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u488 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u489 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u490 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:317px;
  width:158px;
  height:46px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u491 {
  position:absolute;
  left:41px;
  top:193px;
}
#u491_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:277px;
  height:46px;
  background-image:none;
}
#u491_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u492 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:46px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u493 {
  position:absolute;
  left:9px;
  top:30px;
}
#u493_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:52px;
  height:41px;
  background-image:none;
}
#u493_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u494 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:41px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
