body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u720_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u720 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u721 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u722 {
  position:absolute;
  left:0px;
  top:592px;
}
#u722_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:53px;
  height:50px;
  background-image:none;
}
#u722_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u723 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u724 {
  position:absolute;
  left:103px;
  top:596px;
}
#u724_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:29px;
  height:45px;
  background-image:none;
}
#u724_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u725_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:45px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u725 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:45px;
}
#u726 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u727_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u727 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:0px;
  width:25px;
  height:25px;
}
#u728 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u729_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u729 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:21px;
  width:29px;
  height:16px;
}
#u730 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u724_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:29px;
  height:45px;
  visibility:hidden;
  background-image:none;
}
#u724_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u731_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:45px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u731 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:45px;
}
#u732 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u733_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u733 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:0px;
  width:25px;
  height:25px;
}
#u734 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u735_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u735 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:21px;
  width:29px;
  height:16px;
  color:#FF0000;
}
#u736 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u737 {
  position:absolute;
  left:0px;
  top:27px;
}
#u737_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:60px;
  height:49px;
  background-image:none;
}
#u737_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u738 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u739 {
  position:absolute;
  left:47px;
  top:592px;
}
#u739_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:56px;
  height:49px;
  background-image:none;
}
#u739_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u740 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
